.home__row__text{
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	margin-top: 20%;
}
.home__row__img{
	display: flex;
	justify-content: center;
	margin-top: -20%;

}
.center__img>img{
	max-width:100%; 
	margin-top: -35%;
	position: relative;
}
.leftSide__img>img{
	margin-top: -18%;

}
.rightSide__img{
	z-index: 99;
}
.rightSide__img>img{
	max-width:100%;
	margin-top: 65%;
	margin-left: -25%;
	
}
.center__text{
	z-index: 100;
}
.center__text>img{
	margin-left: -9%;
}
